<p>print-list-courses works!</p>

<br>

<button mat-mini-fab class="button_users_crud" color="primary" matTooltip="IMPRIMIR LISTA"
[printStyle]="printStyle" printSectionId="print-section"
ngxPrint>
    <i class="material-icons" style="color: #ffffff">print</i>
</button>

<br>
<br>

<div  id="print-section" printSectionId="print-section">
    <!--  <img class="logo" src="assets/img/top_lista.png">-->
    <table class="table_print_courses">
        <tr>
            <th>Treinamento</th>
            <th>Empresa</th>
            <th>Cidade</th>
            <th>Tipo</th>
        </tr>
        <tr>
            <td>NR 1 - INTEGRAÇÃO DE SEGURANÇA DO TRABALHO</td>
            <td>PROSEG ASSESSORIA E TREINAMENTOS</td>
            <td>SINOP/MT</td>
            <td>PRESENCIAL</td>
        </tr>
        <tr>
            <th>Instrutor</th>
            <th>Carga Horária Total</th>
            <th>Horário ínicio</th>
            <th>Hora - Fim</th>
        </tr>
        <tr>
            <td>.</td>
            <td>.</td>
            <td>.</td>
            <td>.</td>
        </tr>
    </table>
    
    <br>
    <br>

    
    <table class="table_print_courses">
        <tr>
            <th>Treinamento</th>
            <th>Empresa</th>
            <th>Cidade</th>
            <th>Tipo</th>
        </tr>
        <tr>
            <td>NR 1 - INTEGRAÇÃO DE SEGURANÇA DO TRABALHO</td>
            <td>PROSEG ASSESSORIA E TREINAMENTOS</td>
            <td>SINOP/MT</td>
            <td>PRESENCIAL</td>
        </tr>
        <tr>
            <th>Instrutor</th>
            <th>Carga Horária Total</th>
            <th>Horário ínicio</th>
            <th>Hora - Fim</th>
        </tr>
        <tr>
            <td>.</td>
            <td>.</td>
            <td>.</td>
            <td>.</td>
        </tr>
    </table>
    <br>

    <br>
    <br>

    
    <table class="table_print_courses">
        <tr>
            <th>Treinamento</th>
            <th>Empresa</th>
            <th>Cidade</th>
            <th>Tipo</th>
        </tr>
        <tr>
            <td>NR 1 - INTEGRAÇÃO DE SEGURANÇA DO TRABALHO</td>
            <td>PROSEG ASSESSORIA E TREINAMENTOS</td>
            <td>SINOP/MT</td>
            <td>PRESENCIAL</td>
        </tr>
        <tr>
            <th>Instrutor</th>
            <th>Carga Horária Total</th>
            <th>Horário ínicio</th>
            <th>Hora - Fim</th>
        </tr>
        <tr>
            <td>.</td>
            <td>.</td>
            <td>.</td>
            <td>.</td>
        </tr>
    </table>
    <br>

    <br>
    <br>

    
    <table class="table_print_courses">
        <tr>
            <th>Treinamento</th>
            <th>Empresa</th>
            <th>Cidade</th>
            <th>Tipo</th>
        </tr>
        <tr>
            <td>NR 1 - INTEGRAÇÃO DE SEGURANÇA DO TRABALHO</td>
            <td>PROSEG ASSESSORIA E TREINAMENTOS</td>
            <td>SINOP/MT</td>
            <td>PRESENCIAL</td>
        </tr>
        <tr>
            <th>Instrutor</th>
            <th>Carga Horária Total</th>
            <th>Horário ínicio</th>
            <th>Hora - Fim</th>
        </tr>
        <tr>
            <td>.</td>
            <td>.</td>
            <td>.</td>
            <td>.</td>
        </tr>
    </table>
    <br>
</div>