.mat_button2{
    margin: 2px 2px 2px 2px;
}
.mat_button3{
    background-color: #212529;
    margin: 10px 10px 10px 10px ;
    
}

.button_relatorio_clientes{
    margin: 5px 5px 5px 5px;
}

.relatorios{
    margin: 5px 5px 5px 5px;
}