<h1><strong>⚙️ Parâmetros do Sistema</strong></h1>
<br>
<mat-card>
    <mat-card-content>

        <div>
            <br>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <br>
            <mat-card>
                <mat-card-title class="parameters_name">Parâmetros Gerais</mat-card-title>
                <mat-card-content></mat-card-content>
            </mat-card>

            <br>
            <br>
        </div>


        <div>
            <br>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <br>
            <mat-card>
                <mat-card-title class="parameters_name">Parâmetros Agenda</mat-card-title>

                <mat-card-content></mat-card-content>
            </mat-card>

            <br>
            <br>
        </div>


        <div>
            <br>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <br>
            <mat-card>
                <mat-card-title class="parameters_name">Parâmetros Clientes</mat-card-title>

                <mat-card-content></mat-card-content>
            </mat-card>

            <br>
            <br>
        </div>


        <div>
            <br>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <br>
            <mat-card>
                <mat-card-title class="parameters_name">Parâmetros Usuários</mat-card-title>

                <mat-card-content></mat-card-content>
            </mat-card>

            <br>
            <br>
        </div>


        <div>
            <br>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <br>
            <mat-card>
                <mat-card-title class="parameters_name">Parâmetros Equipamentos</mat-card-title>

                <mat-card-content></mat-card-content>
            </mat-card>

            <br>
            <br>
        </div>

        <div>
            <br>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <br>
            <mat-card>
                <mat-card-title class="parameters_name">Quadro de Avisos</mat-card-title>
                <mat-card-content></mat-card-content>
            </mat-card>

            <br>
            <br>
        </div>


    </mat-card-content>
</mat-card>