<h1><strong>⚙️ Parâmetros do Sistema</strong></h1>
<br>

<mat-card>
    <mat-card-content>

        <div>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <mat-card>
                <mat-card-title>Parâmetros Gerais</mat-card-title>
                <mat-card-content><app-users-list></app-users-list></mat-card-content>
            </mat-card>

            <br>
        </div>


        <div>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <mat-card>
                <mat-card-title>Parâmetros Agenda</mat-card-title>

                <mat-card-content><app-users-list></app-users-list></mat-card-content>
            </mat-card>

            <br>
        </div>


        <div>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <mat-card>
                <mat-card-title>Parâmetros Clientes</mat-card-title>

                <mat-card-content><app-users-list></app-users-list></mat-card-content>
            </mat-card>

            <br>
        </div>


        <div>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <mat-card>
                <mat-card-title>Parâmetros Usuários</mat-card-title>

                <mat-card-content><app-users-list></app-users-list></mat-card-content>
            </mat-card>

            <br>
        </div>


        <div>
            <br>

            <button mat-raised-button color="primary">Inserir</button>
            <br>
            <mat-card>
                <mat-card-title>Parâmetros Equipamentos</mat-card-title>

                <mat-card-content><app-users-list></app-users-list></mat-card-content>
            </mat-card>

            <br>
        </div>


    </mat-card-content>
</mat-card>